<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.demo.bedprojectbefore.mapper.GoodMapper">
    <select id="goodList" resultType="org.demo.bedprojectbefore.pojo.Goods">
        select * from goods
        <where>
            <if test="goodsName != null and goodsName != ''">
                and goodsName = #{goodsName}
            </if>
            <if test="goodsManufactor != null and goodsManufactor != ''">
                and goodsManufactor = #{goodsManufactor}
            </if>
            <if test="start != null and end != null and start != 'undefined'">
                and cTime between #{start} and #{end}
            </if>
        </where>
        limit #{pageNo},#{pageSize}
    </select>
    <select id="getGoodCount" resultType="int">
        select count(*) from goods
        <where>
            <if test="goodsName != null and goodsName != ''">
                and goodsName = #{goodsName}
            </if>
            <if test="goodsManufactor != null and goodsManufactor != ''">
                and goodsManufactor = #{goodsManufactor}
            </if>
            <if test="start != null and end != null and start != 'undefined'">
                and cTime between #{start} and #{end}
            </if>
        </where>
    </select>
    <select id="selIdGood" resultType="org.demo.bedprojectbefore.pojo.Goods">
        SELECT * FROM `goods` WHERE `goodsId` =#{goodsId}
    </select>
    <delete id="delGood">
        delete from goods where goodsId=#{goodsId}
    </delete>
    <insert id="addGoods">
        insert into goods values(#{goodsId},#{goodsName},#{goodsPic},#{goodsSpec},#{goodsManufactor},#{goodsRegistration},#{cTime},#{uTime},#{isFlag})
    </insert>
    <update id="updateGoods">
        update goods set goodsName = #{goodsName},
        goodsPic = #{goodsPic},
        goodsSpec = #{goodsSpec},
        goodsManufactor = #{goodsManufactor},
        goodsRegistration = #{goodsRegistration},
        uTime = #{uTime}
        where goodsId = #{goodsId}
    </update>
</mapper>