<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.demo.bedprojectbefore.mapper.Maintain_users_Mapper">
    <select id="mainUserList" resultType="org.demo.bedprojectbefore.pojo.Maintain_users">
        SELECT ms.*,us.`userPhone`,ag.companyName FROM `maintain_users` ms INNER JOIN `users` us ON ms.userId=us.`userId`
        INNER JOIN agent ag ON ms.agentId=ag.agentId
        <trim prefix="where" prefixOverrides="and|or">
            <if test="realName!=null and realName!=''">
                ms.realName LIKE CONCAT ('%',#{realName},'%')
            </if>
            <if test="userPhone!=null and userPhone!=''">
                AND  us.userPhone=#{userPhone}
            </if>
            <if test="agentId!=null and agentId!=''">
                AND ms.agentId=#{agentId}
            </if>
        </trim>
        LIMIT #{pageNowadays},#{pageSize}
    </select>

</mapper>